.wrapper {
    margin: 30px auto;
    width: 510px;
    font-family: sans-serif;
    font-size: 18px;
}
.user-info {
    min-height: 230px;
}
button {
    width: 250px;
    margin-top: 20px;
    padding: 5px;
    font-size: 18px;
    
}
p {
    padding: 7px 0px;
    margin: 10px 0px;
    height: 25px;
    border: 2px solid green;

}
.user-ip {
    height: 30px;
    text-align: center;
    color: brown;
    font-size: 20px;
    font-weight: 700;
}