@import "abstracts/mixins";
@import "abstracts/variables";

.footer {
  background-color: black;

  &-content {
    padding: 67px 0;
    @include container-widht;
    @include flex-center;
    flex-direction: column;
    text-align: center;

    &-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      color: #fefefe;
    }
    &-subtitle {
      width: 55%;
      font-weight: 400;
      font-size: 16px;
      color: #b9b9b9;
      line-height: 29px;
      padding: 35px 0;
    }
    &-contacts {
      padding-top: 34px;
      font-weight: 400;
      font-size: 16px;
      color: #b9b9b9;
    }
  }
}

@media (max-width: 640px) {
  .footer-content {
    &-title {
      font-weight: 700;
      font-size: 14px;
    }
    &-subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }
    &-contacts {
      padding-left: 55px;
      padding-right: 55px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
