@import "abstracts/mixins";
@import "abstracts/variables";

.header__navigation {
  @include container-widht;
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: end;
  }
}

.navigation__wrapper {
  @include flex-center;
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
  color: $dark;
  font-weight: 400;
  font-size: 11px;
}


@media (max-width: 768px) {
  .navigation__wrapper {
    width: auto;
    position: absolute;
    top: 62px;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-transform: uppercase;
    background-color: #F5F5F5;
     
  }
  .navigation__item {
    width: 200px;
    &:hover {
        color: #57a4a4;
        background-color: #E5E5E5;
      }
  }
}


.navigation__item a {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  color: $dark;
  font-weight: 400;
  font-size: 11px;
  padding: 7px 12px;
  transition: 0.5s color;
    &:hover {
      color: #57a4a4;
    }
}

.burger-menu-wrapper {
  display: none;
  width: 44px;
  height: 37px;
  margin: 23px 5%;
  background-color: black;
}

@media (max-width: 768px) {
  .burger-menu-wrapper {
    display: block;
  }
}