@import "abstracts/mixins";
@import "abstracts/variables";

.recent-posts {
    @include container-widht;
    padding-bottom: 69px;
}

.main-content__image {
    @include container-widht;
    padding-bottom: 19px;
}

@media (max-width: 1230px) {
  .main-content__image, .recent-posts, .insta-shots {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.section__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: $dark;
    padding-top: 47px;
    padding-bottom: 24px;
}

.posts-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media screen and (max-width: 850px) {
  .posts-items-wrapper { grid-template-columns: 1fr;}
}

.posts-item {
  display: flex;

  &__image-box {
    min-width: 160px;
    min-height: 140px;
  }
  &-text-wrapper {
    padding-left: 5%;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
  &__subtitle {
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $secondary;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: $light;
  }
}

@media (max-width: 480px) {
  .posts-item {
    flex-direction: column;
    box-sizing: border-box;
  
    &__text {
        display: none;
      }
    &-text-wrapper {
      padding-left: 0px;
      }
    &__image-box {
          padding-bottom: 11px;
          width: 160px;
          height: 140px;
    }
  }}

.title-box {
    @include flex-center;
}

.insta-link {
    display: block;
    font-size: 13px;
    cursor: pointer;
}

@media (max-width: 768px) {
  .insta-link {
      display: none;
  }
}


.insta-shots {
    padding-bottom: 47px;
    background-color: rgba(0, 0, 0, 0.03);

      &-images {
        @include flex-center;

          &-box {   
          width: 285px;
          height: 285px;
          margin: 0.5%;
    } 
  }
}

@media screen and (max-width: 768px) {
  .insta-shots-images-box:last-child { 
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .insta-shots-images-box:nth-child(3n) {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .insta-shots-images-box:nth-child(2n) {
    display: none;
  }
}

.insta-shots__wrapper {
    @include container-widht;
}
