.content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    font-family: sans-serif;

}
.posts-list {
    display: flex;
    margin: 20px;
    align-items: flex-start;
    
}
.logo {
    min-width: 64px;
    min-height: 50px;
    margin-right: 20px;
    padding-top: 12px;
    text-align: center;
    border: 1px solid rgba(29 161 242);
    background-color: rgba(29 161 242);
    color: white;
    border-radius: 50%;
    font-weight: 400;
    font-size: 36px;
}

.user-name {
    display: inline;
    font-weight: 700;
    font-size: 24px;
}
.twit-del {
    display: block;
    cursor: pointer;
}
.user-email {
    font-size: 22px;
    color: rgba(128, 128, 128, 0.87);
}
.twit-title {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 700;
}
.twit-text {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 400;
}